[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frictionless = "*"
invoke = "*"
simpleeval = "*"
datasette = "*"
deepmerge = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipython = "*"

[requires]
python_version = "3"
